.surveyBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  display: flex;
  flex-direction: column;
  box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1em;
  box-sizing: border-box;
}

.surveyBox input[type="email"] {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  font-size: 0.9em;
  cursor: pointer;
}

.surveyBox textarea {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  height: 100px;
  resize: vertical;
  font-size: 0.9em;
  cursor: pointer;
}

.surveyBox button {
  margin-top: 1em;
  padding: 0.5em;
  background-color: rgba(4, 117, 244);
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.surveyBox button:hover {
  background-color: rgba(4, 117, 244, 0.8);
}
